.limegreen {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: limegreen;
}
.blue {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: lightskyblue;
}
.myInput {
  padding: 5px 10px;
  border-radius: 4px;
}